<mat-card>
    <!-- create a image gallery using mat-card-->
    <mat-card-title>Search and Explore the Repository</mat-card-title>
    <mat-grid-list cols="6">
        <mat-grid-tile *ngFor="let tile of tiles" [colspan]="tile.cols" [rowspan]="tile.rows">
            <a *ngIf="tile.disabled">
                <img class="image" src="../../../assets/{{tile.src}}" alt="image" />
            </a>
            <a *ngIf="!tile.disabled" (click)="openDialog(tile.redirect, tile.src, tile.title, tile.sub_title, tile.background)">
                <img class="image " src="../../../assets/{{tile.src}} " alt="image " />
            </a>
        </mat-grid-tile>
    </mat-grid-list>
</mat-card>