/* .spacer {
    flex-grow: 1;
}

.toolbar {
    height: 60px;
    display: flex;
    align-items: center;
    color: #1976d2;
    font-weight: 600;
    padding-right: 30px;
}

.toolbar img {
    margin: 0 16px;
}

.content {
    margin: 32px 32px;
}

app-calendar-view {
    width: 100%;
} */