<div class="example-container" [class.example-is-mobile]="mobileQuery.matches">
    <mat-toolbar color="primary" class="example-toolbar">
        <button mat-icon-button (click)="sidenav.toggle()"><mat-icon>menu</mat-icon></button>
        <span class="header example-app-name">
            <img src="../../assets/group1.png" alt="logo" class="logo">
            <mat-card-title>EUL Thesis</mat-card-title>
        </span>
        <!-- display the student full name of mat-button -->
        <span class="auth_hidden">
            <img [src]="img" class="avatar">
            <button mat-button (click)="setProfile('Profile')">{{account$?.first_name}} {{account$?.last_name}}</button>
            <button mat-button (click)="logout()">Logout</button>
        </span>

    </mat-toolbar>
    <mat-sidenav-container class="example-sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
        <mat-sidenav #sidenav [mode]="mobileQuery.matches ? 'push' : 'push'" [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">
            <mat-nav-list>
                <div class="first">
                    <img [src]="img" class="avatar">
                    <button mat-button (click)="setProfile('Profile')" class="no">{{account$?.first_name}} {{account$?.last_name}}</button>
                </div>
                <mat-list-item *ngFor="let tab of tabs" (click)="onTabClick(tab)">
                    <mat-icon mat-list-icon>{{tab.icon}}</mat-icon>
                    <h3 mat-line>{{tab.label}}</h3>
                </mat-list-item>
            </mat-nav-list>
        </mat-sidenav>

        <mat-sidenav-content>
            <div class="page" *ngIf="cur_tab == 'Home'">
                <app-homepage></app-homepage>
            </div>
            <div class="page" *ngIf="cur_tab == 'Search'">
                <app-search></app-search>
            </div>
            <div class="page" *ngIf="cur_tab == 'Upload'">
                <app-upload-research></app-upload-research>
            </div>
            <div class="page" *ngIf="cur_tab == 'Library'">
                <app-research-library></app-research-library>
            </div>
            <div class="page" *ngIf="cur_tab == 'My Research'">
                <app-my-research></app-my-research>
            </div>
            <div class="page" *ngIf="cur_tab == 'Profile'">
                <app-profile></app-profile>
            </div>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>