.example-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.example-is-mobile .example-toolbar {
    position: fixed;
    /* Make sure the toolbar will stay on top of the content as it scrolls past. */
    z-index: 2;
}

h1.example-app-name {
    margin-left: 8px;
}

.example-sidenav-container {
    /* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
       causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
    flex: 1;
}

.example-is-mobile .example-sidenav-container {
    /* When the sidenav is fixed, don't constrain the height of the sidenav container. This allows the
       `<body>` to be our scrolling element for mobile layouts. */
    flex: 1 0 auto;
}

md-sidenav,
md-sidenav.md-locked-open,
md-sidenav.md-closed.md-locked-open-add-active {
    min-width: 200px !important;
    width: 85vw !important;
    max-width: 400px !important;
}

.mat-list-base {
    padding-top: 8px;
    width: 200px;
    display: block;
}


/* set disabled button text color to white */

button[disabled=disabled],
button:disabled {
    color: white;
}

.start {
    display: flex;
    flex-direction: column;
}

.nav-list {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
}

.logo {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 20px;
}

.header {
    display: flex;
    align-items: center;
}

mat-card-title {
    display: flex;
    justify-content: center;
    font-weight: 100px;
    /* margin-bottom: 40px; */
    font-family: Poppins;
    font-style: normal;
    font-weight: bolder;
    font-size: 40px;
    line-height: 50px;
    text-align: center;
    color: #1f0e7e;
}

.nav-list {
    display: flex;
    justify-content: space-between;
    padding: 0 64px;
    align-items: center;
}

.dropdown {
    display: flex;
    align-items: center;
    background-color: transparent;
}

.button {
    background-color: transparent;
    border: none;
}

.dropbtn {
    background-color: #3f51b5;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #3f51b5;
}

.mat-toolbar-row,
.mat-toolbar-single-row {
    display: flex;
    justify-content: space-between;
}


/* avatar picture */

.avatar {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-right: 20px;
}

.no {
    background-color: white !important;
}

.first {
    display: flex;
    flex-direction: column;
    align-items: center;
}