<div class="example-container" [class.example-is-mobile]="mobileQuery.matches">
    <mat-toolbar color="primary" class="example-toolbar">
        <button mat-icon-button (click)="sidenav.toggle()"><mat-icon>menu</mat-icon></button>
        <h1 class="example-app-name">Responsive App</h1>
    </mat-toolbar>
    <mat-sidenav-container class="example-sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
        <mat-sidenav #sidenav [mode]="mobileQuery.matches ? 'push' : 'push'" [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">
            <mat-nav-list>
                <mat-list-item *ngFor="let tab of tabs" (click)="onTabClick(tab)">
                    <mat-icon mat-list-icon>{{tab.icon}}</mat-icon>
                    <h3 mat-line>{{tab.label}}</h3>
                </mat-list-item>
            </mat-nav-list>
        </mat-sidenav>

        <mat-sidenav-content>
            <div class="page" *ngIf="cur_tab == 'Home'">
                <app-homepage></app-homepage>
            </div>
            <div class="page" *ngIf="cur_tab == 'Search'">
                <app-search></app-search>
            </div>
            <div class="page" *ngIf="cur_tab == 'Upload'">
                <app-upload-research></app-upload-research>
            </div>
            <div class="page" *ngIf="cur_tab == 'Library'">
                <app-research-library></app-research-library>
            </div>
            <div class="page" *ngIf="cur_tab == 'Profile'">
                <app-profile></app-profile>
            </div>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>