<div class="container-fluid">
    <mat-stepper [linear]="isLinear" #stepper>
        <mat-step errorMessage="Fill Up the Form">
            <div class="page">
                <ng-template matStepLabel>Upload Research</ng-template>
                <div class="row">
                    <mat-card-title class="res_cent">Upload Research</mat-card-title>
                    <div class=" columns">
                        <label for="file-input">
                                        <img src="../../../assets/Upload-Transparent.png" class="img" />
                                    </label>
                        <!-- accepts only pdf, word file -->
                        <input id="file-input" type="file" accept=".pdf, .docx, .docs" (change)="selectFiles($event)" ng2FileSelect uploader="uploader" />
                    </div>
                    <!-- if attachment-list is not equal to zero -->
                    <div class="columns btnss" *ngIf="attachmentList.length != 0">
                        <button class="pas" mat-raised-button color="warn" (click)="removeFile(attachmentList[0])">Remove File</button>
                        <button class="pas" mat-raised-button color="primary" (click)="uploadFiles()">Upload</button>
                    </div>
                </div>

                <div>
                    <button mat-button matStepperNext (click)="upNext()">Next</button>
                    <button mat-button>Back to Login</button>
                </div>
            </div>
        </mat-step>
        <mat-step errorMessage="Fill Up the Form">
            <div class="page">
                <ng-template matStepLabel>Research Details</ng-template>
            </div>
            <div>
                <button mat-button matStepperNext>Next</button>
                <button mat-button matStepperPrevious>Back</button>
                <button mat-button>Back to Login</button>
            </div>
        </mat-step>
        <mat-step errorMessage="Fill Up the Form">
            <div class="page">
                <ng-template matStepLabel>Done</ng-template>
            </div>
        </mat-step>
    </mat-stepper>
</div>