<div class="container-fluid">
    <mat-stepper [linear]="isLinear" #stepper>
        <mat-step errorMessage="Fill Up the Form">
            <div class="page">
                <ng-template matStepLabel>Upload Research</ng-template>
                <div class="row">
                    <mat-card-title class="res_cent">Upload Research</mat-card-title>
                    <div class=" columns">
                        <label for="file-input">
                                        <img src="../../../assets/upload.png" />
                                    </label>
                        <!-- accepts only pdf, word file -->
                        <input id="file-input" type="file" accept=".pdf, .docx, .docs" (change)="selectFiles($event)" ng2FileSelect uploader="uploader" />
                    </div>
                    <!-- if attachment-list is not equal to zero -->
                    <div class="columns btnss" *ngIf="attachmentList.length != 0">
                        <button class="pas" mat-raised-button color="warn" (click)="removeFile(attachmentList[0])">Remove File</button>
                        <!-- <button class="pas" mat-raised-button color="primary" (click)="uploadFiles()">Upload</button> -->
                    </div>
                </div>

                <div>
                    <button mat-button matStepperNext (click)="upNext()" *ngIf="disabled" disabled>Next</button>
                    <button mat-button matStepperNext (click)="upNext()" *ngIf="!disabled">Next</button>
                    <button mat-button (click)="gotoHome() ">Go to Home</button>
                </div>
            </div>
        </mat-step>
        <mat-step errorMessage="Fill Up the Form">
            <div class="page">
                <ng-template matStepLabel>Research Details</ng-template>
            </div>
            <!-- form page for research_details [research_id, topic category, sdg category,date_published, adviser, department, keywords, title, abstract, qr, number_of_view ]-->
            <div class="row top-row">
                <div class="tops">
                    <mat-card-title class="res_cent">Research Details</mat-card-title>
                </div>
                <div class="down">
                    <form [formGroup]="inputs">
                        <div class="first">
                            <mat-form-field class="full-width">
                                <!-- input for research_id disabled -->
                                <input matInput placeholder="Research ID" value="{{research_details.research_id}}" disabled />
                            </mat-form-field>
                            <mat-form-field class="full-width firsti">
                                <input matInput type="date" formControlName="date_published" placeholder="Date Published" [(ngModel)]="research_details.date_published" />
                            </mat-form-field>
                        </div>
                        <div class="second">
                            <!-- input for title disabled -->
                            <mat-form-field class="full-width">
                                <input matInput placeholder="Title" formControlName="title" [(ngModel)]="research_details.title" />
                            </mat-form-field>
                            <mat-form-field class="full-width firsti">
                                <input matInput placeholder="Adviser" formControlName="adviser" [(ngModel)]="research_details.adviser" />
                            </mat-form-field>
                            <!-- ngFor department -->
                            <mat-form-field class="full-width firsti">
                                <mat-select placeholder="Department" formControlName="department" [(ngModel)]="research_details.departmentName">
                                    <mat-option *ngFor="let department of departments" [value]="department.departmentName">{{department.departmentName}}</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </form>
                    <div class="">
                        <mat-card-title>Authors</mat-card-title>
                        <div class="forms">
                            <form [formGroup]="authorForm">
                                <mat-form-field class="full-width">
                                    <input matInput placeholder="School ID" formControlName="school_id" />
                                </mat-form-field>
                            </form>
                            <button mat-raised-button color="primary" class="bt" (click)="pushAuthor()">Add</button>
                        </div>
                        <div class="row" *ngIf="display">
                            <mat-card-title>Authors</mat-card-title>
                            <div class="full-width" *ngFor="let author of authors">
                                <!-- first_name -->
                                <mat-form-field class="full-width">
                                    <input matInput placeholder="First Name" [(ngModel)]="author.first_name" disabled />
                                </mat-form-field>
                                <!-- last_name -->
                                <mat-form-field class="full-width bt">
                                    <input matInput placeholder="Last Name" [(ngModel)]="author.last_name" disabled />
                                </mat-form-field>
                                <!-- school_id -->
                                <mat-form-field class="full-width bt">
                                    <input matInput placeholder="School ID" [(ngModel)]="author.school_id" disabled />
                                </mat-form-field>
                                <!-- button remove -->
                                <button mat-raised-button color="warn" class="bt" (click)="removeAuthor(author)">Remove</button>
                            </div>
                        </div>
                    </div>
                    <div class="fourth">
                        <!-- text input for abstract -->
                        <mat-card-title>Abstract</mat-card-title>
                        <textarea placeholder="Abstract" [(ngModel)]="research_details.abstract" disabled></textarea>
                    </div>
                    <div class="fifth">
                        <!-- topic category -->
                        <mat-card-title>Topic Category</mat-card-title>
                        <mat-form-field class="full-width">
                            <!-- chiplist -->
                            <mat-chip-list #chipList>
                                <mat-chip *ngFor="let topic of research_details.topic_category">
                                    {{topic}}
                                </mat-chip>
                            </mat-chip-list>
                        </mat-form-field>
                        <mat-form-field class="full-width">
                            <!-- chiplist -->
                            <mat-card-title>SDG Category</mat-card-title>
                            <mat-chip-list #chipList>
                                <mat-chip *ngFor="let sdg of research_details.sdg_category">
                                    {{sdg}}
                                </mat-chip>
                            </mat-chip-list>
                        </mat-form-field>
                        <!-- keywords -->
                        <mat-form-field class="full-width">
                            <mat-card-title>Keywords</mat-card-title>
                            <mat-chip-list #chipList>
                                <mat-chip *ngFor="let keyword of research_details.keywords">
                                    {{keyword}}
                                </mat-chip>
                            </mat-chip-list>
                        </mat-form-field>
                    </div>
                </div>
            </div>
            <div>
                <button mat-button matStepperNext (click)="addResearch();" *ngIf=" dis " disabled>Next</button>
                <button mat-button matStepperNext (click)="addResearch();" *ngIf="!dis">Next</button>
                <button mat-button matStepperPrevious>Back</button>
                <button mat-button (click)="gotoHome() ">Go to Home</button>
            </div>
        </mat-step>
        <mat-step errorMessage="Fill Up the Form ">
            <div class="page ">
                <ng-template matStepLabel>Done</ng-template>
            </div>
            <div class="row ">
                <div class="tops ">
                    <mat-card-title class="res_cent ">Research has been uploaded successfully.</mat-card-title>
                    <img src="../../../assets/upload_success.png " alt=" " />
                    <button mat-button (click)="gotoHome() ">Go to Home</button>
                </div>
            </div>
        </mat-step>
    </mat-stepper>
</div>