<mat-drawer-container class="example-container">
    <mat-drawer mode="side" opened class="color">
        <mat-nav-list>
            <mat-list-item>
                <div class="rows">
                    <img [src]="img" class="avatar">
                    <h3 mat-line>{{account$?.first_name}} {{account$?.last_name}}</h3>
                </div>
            </mat-list-item>
            <mat-list-item>
                <mat-icon mat-list-icon>account_circle</mat-icon>
                <h3 mat-line>Profile</h3>
            </mat-list-item>
            <mat-list-item>
                <mat-icon mat-list-icon>search</mat-icon>
                <h3 mat-line>Search</h3>
            </mat-list-item>
            <mat-list-item>
                <mat-icon mat-list-icon>cloud_upload</mat-icon>
                <h3 mat-line>Upload</h3>
            </mat-list-item>
            <mat-list-item>
                <mat-icon mat-list-icon>library_books</mat-icon>
                <h3 mat-line>Library</h3>
            </mat-list-item>
            <mat-list-item>
                <mat-icon mat-list-icon>home</mat-icon>
                <h3 mat-line>Home</h3>
            </mat-list-item>
        </mat-nav-list>

    </mat-drawer>
    <mat-drawer-content>
        <div class="headers">
            <h1 class="profile-header">Profile Information</h1>
            <button mat-icon-button class="edit" (click)="edit()">
                <mat-icon>edit</mat-icon>
            </button>
        </div>
        <form class="profile" [formGroup]="profile">
            <div class="rowss">
                <mat-form-field class="profile-form">
                    <mat-label>{{account$?.school_id}}</mat-label>
                    <input matInput placeholder="{{account$?.school_id}}" formControlName="school_id" readonly>
                </mat-form-field>
                <mat-form-field class="profile-form" *ngIf="!active">
                    <mat-label>{{account$?.email}}</mat-label>
                    <input matInput placeholder="{{account$?.email}}" formControlName="email" readonly>
                </mat-form-field>
                <mat-form-field class="profile-form" *ngIf="active">
                    <mat-label>{{account$?.email}}</mat-label>
                    <input matInput placeholder="{{account$?.email}}" formControlName="email">
                </mat-form-field>
            </div>
            <div class="rowss">
                <mat-form-field class="profile-form" *ngIf="!active">
                    <mat-label>{{account$?.first_name}}</mat-label>
                    <input matInput placeholder="{{account$?.first_name}}" formControlName="first_name" readonly>
                </mat-form-field>
                <mat-form-field class="profile-form" *ngIf="active">
                    <mat-label>{{account$?.first_name}}</mat-label>
                    <input matInput placeholder="{{account$?.first_name}}" formControlName="first_name">
                </mat-form-field>
                <mat-form-field class="profile-form" *ngIf="!active">
                    <mat-label>{{account$?.last_name}}</mat-label>
                    <input matInput placeholder="{{account$?.last_name}}" formControlName="last_name" ng-disabled="active" readonly>
                </mat-form-field>
                <mat-form-field class="profile-form" *ngIf="active">
                    <mat-label>{{account$?.last_name}}</mat-label>
                    <input matInput placeholder="{{account$?.last_name}}" formControlName="last_name" ng-disabled="active">
                </mat-form-field>
            </div>
            <div class="rowss">
                <mat-form-field class="profile-form">
                    <mat-label>{{account$?.roleName}}</mat-label>
                    <input matInput placeholder="{{account$?.roleName}}" formControlName="role" readonly>
                </mat-form-field>
                <mat-form-field class="profile-form">
                    <mat-label>{{account$?.departmentName}}</mat-label>
                    <input matInput placeholder="{{account$?.departmentName}}" formControlName="department" readonly>
                </mat-form-field>
            </div>
        </form>
        <div class="buttons" *ngIf="active">
            <button mat-raised-button color="primary" (click)="saveProfile()">Save</button>
            <button class="bt" mat-raised-button color="warn">Cancel</button>
        </div>
    </mat-drawer-content>
</mat-drawer-container>