<mat-dialog-actions align="end">
    <button class="cent" mat-button mat-dialog-close>
        <mat-icon>close</mat-icon>
    </button>
</mat-dialog-actions>
<mat-dialog-content class="mat-typography">
    <div class="container">
        <div class="upper" id="backs">
            <div class="col">
                <div class="row">
                    <div class="desc">
                        <mat-card-title-group>
                            <mat-card-title>{{data.res.title}}</mat-card-title>
                        </mat-card-title-group>
                    </div>
                </div>
                <div class="end">
                    <div class="box">
                        <!-- data views from data.res -->
                        <div class="views">
                            <mat-icon>visibility</mat-icon>
                            <span>{{data.res.number_of_views}}</span>
                        </div>
                    </div>
                    <div class="box">
                        <!-- download icon -->
                        <div class="delete">
                            <button mat-button>
                                <mat-icon>file_download</mat-icon>
                                <span>Download</span>
                            </button>
                        </div>
                    </div>
                    <div class="box">
                        <!-- mat-button delete -->
                        <div class="delete">
                            <button mat-button>
                                <mat-icon>delete</mat-icon>
                                <span>Delete</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="lower">
            <mat-card-content>
                <mat-tab-group mat-align-tabs="center" (selectedTabChange)="onTabClick($event)">
                    <mat-tab label={{tab.label}} *ngFor="let tab of tabs">
                        <ng-template mat-tab-label>
                            <!-- <mat-icon class="example-tab-icon">{{tab.icon}}</mat-icon> -->
                            &nbsp;&nbsp;&nbsp; {{tab.label}}
                        </ng-template>
                        <div class="content-research">
                            <mat-card>
                                <!-- if tabs == overview, display the abstract -->
                                <mat-card-content *ngIf="tab.label == 'Overview'">
                                    <p>{{data.res.abstracts}}</p>
                                </mat-card-content>
                                <!-- if tabs == research_details,  -->
                                <mat-card-content *ngIf="tab.label == 'Research Details'">
                                    <!-- date published in data.res.year_published -->
                                    <div class="row">
                                        <p class="spax">Date Published: {{date}}</p>
                                        <p class="spax">Adviser: {{data.res.adviser}}</p>
                                        <!-- department -->
                                        <p class="spax">Department: {{data.res.DepartmentName}}</p>
                                    </div>
                                    <!-- chips for topic_category in data.res.topic_category -->
                                    <div class="row">
                                        <p class="spax auths">Topic Category: </p>
                                        <mat-chip-list>
                                            <mat-chip *ngFor="let topic of data.res.topic_category">{{topic}}</mat-chip>
                                        </mat-chip-list>
                                    </div>
                                    <!-- chips for sdg_category in data.res.sdg_category -->
                                    <div class="row">
                                        <p class="spax auths">SDG Category: </p>
                                        <mat-chip-list>
                                            <mat-chip *ngFor="let sdg of data.res.sdg_category">{{sdg}}</mat-chip>
                                        </mat-chip-list>
                                    </div>
                                    <!-- chips for keywords in data.res.keywords -->
                                    <div class="row">
                                        <p class="spax auths">Keywords: </p>
                                        <mat-chip-list>
                                            <mat-chip *ngFor="let keyword of data.res.keywords">{{keyword}}</mat-chip>
                                        </mat-chip-list>
                                    </div>
                                </mat-card-content>
                                <!-- if tabs == authors -->
                                <mat-card-content *ngIf="tab.label == 'Authors'">
                                    <div class="row">
                                        <p class="spax auths">Authors: </p>
                                        <mat-chip-list>
                                            <mat-chip *ngFor="let author of authors">{{author.first_name}}{{author.last_name}}</mat-chip>
                                        </mat-chip-list>
                                    </div>
                                </mat-card-content>
                                <!-- if tabs == Cite this Research -->
                                <mat-card-content *ngIf="tab.label == 'Cite this Research'">
                                    <div class="row">
                                        <p class="spax auths">Cite this Research: </p>
                                    </div>
                                </mat-card-content>
                                <!-- if tabs == Related Articles -->
                                <mat-card-content *ngIf="tab.label == 'Related Articles'">
                                    <div class="row">
                                        <p class="spax auths">Related Articles: </p>
                                    </div>
                                    <div class="content-research" *ngFor="let res of rel_res index">
                                        <mat-card>
                                            <mat-card-header>
                                                <mat-card-title class="fo">{{res.title}}</mat-card-title>
                                                <mat-card-subtitle>{{res.abstract}}</mat-card-subtitle>
                                            </mat-card-header>
                                            <mat-card-actions>
                                                <button mat-button>LIKE</button>
                                                <button mat-button>SHARE</button>
                                                <!-- <button mat-button *ngIf="showDeleteButton(res)" (click)="deleteRes(res)">Delete</button>
                                                <button mat-button (click)="readMore(res)">READ MORE</button> -->
                                            </mat-card-actions>
                                        </mat-card>
                                    </div>
                                </mat-card-content>
                            </mat-card>
                        </div>
                    </mat-tab>
                </mat-tab-group>
            </mat-card-content>
        </div>
    </div>
</mat-dialog-content>
<!-- <p>{{data.res | json}} </p>
<mat-dialog-actions align="end">
    <button mat-button [mat-dialog-close]="data" cdkFocusInitial>No Thanks</button>
    <button mat-button [mat-dialog-close]="data" cdkFocusInitial>Ok</button>
</mat-dialog-actions> -->