<!-- first three items of tabs to be display -->
<div class="tabs">
    <div class="tabh">
        <div class="tab" *ngFor="let tab of firstTabs">
            <p class="" *ngIf="tab.title == 'Chairman'">{{numOfChairman}}</p>
            <p class="" *ngIf="tab.title == 'Teacher'">{{numOfTeacher}}</p>
            <p class="" *ngIf="tab.title == 'Student'">{{numOfStudent}}</p>
            <h3>{{tab.title}}</h3>
        </div>
    </div>
    <div class="tabh">
        <div class="tab" *ngFor="let tab of secondTabs">
            <p class="" *ngIf="tab.title == 'Total_User'">{{total_users}}</p>
            <h3>{{tab.title}}</h3>
        </div>
    </div>
</div>