<div class="homepage1 screen">
    <div class="nav-bar-main-H1ODTS">
        <div class="logo-s7wDtR">
            <img alt="" class="icon-sVcGKm" src="src\assets\group1.png" />
            <div class="eul-sVcGKm">EUL</div>
        </div>
        <div class="nav-bar-list-s7wDtR">
            <div class="home-6PRTFt poppins-normal-white-20px">Home</div>
            <div class="about-6PRTFt poppins-normal-white-20px">About</div>
            <div class="contact-6PRTFt poppins-normal-white-20px">Contact</div>
        </div>
    </div>
    <div class="homepage_body-H10DTS">
        <div class="main_content-g8phGk">
            <div class="images-I9nXfR">
                <div class="group-9-RbWUUq">
                    <img alt="" class="group-QuixtG" src="group.svg" />
                    <div class="btns-sld-OuixtG">
                        <div class="btn-1-27uI8b"></div>
                        <div class="btn-2-27uI8b"></div>
                    </div>
                </div>
            </div>
            <div class="description-19nXfR">
                <div class="looking-for-thesis-or-dissertation-KYOKz4 poppins-bold-moody-blue-60px">
                    Looking for Thesis or Dissertation?
                </div>
                <div class="group-KYokz4">
                    <div class="sign_in-tG1B93">
                        <div class="sign-in-xfJQ9r poppins-normal-white-20px">Sign in</div>
                    </div>
                </div>
                <div class="soc_med-KYoKz4">
                    <div class="fb-CgtsIg">
                        <div class="ellipse-Wv180x border-3px-royal-blue"></div>
                        <div class="brandicofacebook-Wv180x">
                            <img alt="" class="vector-GuWbYI" src="vector.svg" />
                            <img alt="" class="slice-1-GuWbYI" src="slice-1.svg" /> </div>
                    </div>
                    <div class="insta-CgtSIg">
                        <div class="buttongo-2JkVmp">
                            <div class="ellipse-1-Ea7wjc border-3px-royal-blue"></div>
                            <img alt="" class="akar-iconsinstagram-fill-Ea7wjc" src="akar-icons-instagram-fill.svg" />
                        </div>
                    </div>
                    <div class="lnkin-CgtSIg">
                        <div class="group-6-19MTt3">
                            <div class="ellipse-1-4gBxXG border-3px-royal-blue"></div>
                            <img alt="" class="akar-iconslinkedin-fill-4gBxXG" src="akar-icons-linkedin-fill-3.svg" />
                        </div>
                    </div>
                    <div class="twitter-CgtSIg">
                        <div class="twitter-CgtSIg">
                            <div class="buttongo-cQzsga">
                                <div class="ellipse-1-1UpdIP border-3px-royal-blue"></div>
                                <img alt="" class="bitwitter-1UpdIP" src="bi-twitter.svg" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="'request_account-g8phGk">
            <div class="request-jBxZgo poppins-bold-moody-blue-60px">Don't have an Account? Request&nbsp;&nbsp;now
            </div>
            <div class="input-details-jBxZgo">
                <div class="group-r9bhCd">
                    <div class="submit_btn-8WJN6e">
                        <div class="submit-fWCgb7 poppins-normal-white-20px">Submit</div>
                    </div>
                </div>
                <div class="email_field-r9bhCd">
                    <div class="textfield-text-only-8PnLbE">
                        <div class="label-24Cpkq worksans-medium-manatee-36px">Enter Email</div>
                    </div>
                </div>
                <div class="role_field-r9bhCd">
                    <div class="textfield-text-only-tRozz3">
                        <div class="label-wQbizg worksans-medium-manatee-36px">Select Role</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>