/*Variables*/

:root {
    --black: rgba(0, 0, 0, 1);
    --eerie-black: rgba(24, 24, 24, 0.051);
    --royal-blue: rgba(81, 91, 233, 1);
    --moody-blue: rgba(120, 123, 229, 1);
    --concord: rgba(124, 124, 124, 1);
    --portage-2: rgba(138, 142, 229, 1);
    --manatee: rgba(139, 139, 161, 1);
    --portage: Irgba(145, 151, 240, 1);
    --portage-3: rgba(159, 165, 252, 1);
    --alto: rgba(217, 217, 217, 1);
    --athens-gray: rgba(236, 240, 244, 1);
    --white: rgba(255, 255, 255, 1);
    --font-size-xxs: 20px;
    --font-size-xs: 32.7px;
    --font-size-s: 36px;
    --font-size-m: 60px;
    --font-family-inter: "Inter";
    --font-family-poppins: "Poppins";
    --font-family-work_sans: "Work Sans";
}


/* classess */

.worksans-medium-manatee-36px {
    color: var(-- manatee);
    font-family: var(-- font-family-work_sans);
    font-size: var(-- font-size-s);
    font-weight: 500;
    font-style: normal;
}

.border-1px-black {
    border-width: 1px;
    border-style: solid;
    border-color: var(-- black);
}

.poppins-extra-bold-portage-32-7px {
    color: var(-- portage-2);
    font-family: var(-- font-family-poppins);
    font-size: var(-- font-size-xs);
    font-weight: 800;
    font-style: normal;
}

.border-3px-royal-blue {
    border-width: 3px;
    border-style: solid;
    border-color: var(-- royal-blue);
}

.poppins-normal-white-20px {
    color: var(-- white);
    font-family: var(-- font-family-poppins);
    font-size: var(-- font-size-xxs);
    font-weight: 400;
    font-style: normal;
}

.inter-medium-concord-20px {
    color: var(-- concord);
    font-family: var(-- font-family-inter);
    font-size: var(-- font-size-xxs);
    font-weight: 500;
    font-style: normal;
}

.border-1px-alto {
    border-width: 1px;
    border-style: solid;
    border-color: var(-- alto);
}

.poppins-bold-moody-blue-60px {
    color: var(-- moody-blue);
    font-family: var(-- font-family-poppins);
    font-size: var(-- font-size-m);
    font-weight: 700;
    font-style: normal;
}


/* CSS styles*/

@import url("https://fonts.googleapis.com/css?family=Poppins:400,700,800|Work+Sans:500|Inter:500");
.homepage1 {
    background-color: var(-- white);
    height: 1688px;
    mix-blend-mode: normal;
    overflow: hidden;
    overflow-x: hidden;
    position: relative;
    width: 1440px;
}

.hidden,
.hidden* {
    pointer-events: none;
    visibility: hidden;
}


/* Logo */

.eul-sVcGKm {
    -webkit-text-stroke: 1px var(-- black);
    background-color: transparent;
    color: #8aBee5;
    font-family: var(-- font-family-poppins);
    font-size: var(-- font-size-xs);
    font-style: normal;
    font-weight: 800;
    height: auto;
    left: 75px;
    letter-spacing: 0px;
    line-height: normal;
    mix-blend-mode: normal;
    position: absolute;
    text-align: left;
    top: 0px;
    width: auto;
}

.logo-s7wDtR {
    background-color: transparent;
    height: 52px;
    left: 0px;
    position: absolute;
    top: 76px;
    width: 1314px;
}

.icon-sVcGKm {
    background-color: transparent;
    height: 52px;
    left: 0px;
    position: absolute;
    top: 0;
    width: 52px;
}


/* NavBar */

.nav-bar-main-H100TS {
    background-color: transparent;
    height: 74px;
    left: 68px;
    position: absolute;
    top: 11px;
    width: 136px;
}

.nav_bar-list-s7wDtR {
    align-items: center;
    background-color: #9197f0;
    border: 1px solid var(-- black);
    border-radius: 0px 50px 0px 50px;
    display: flex;
    height: min-content;
    justify-content: space-between;
    left: 324px;
    mix-blend-mode: normal;
    padding: 22px 80px 22px 41px;
    position: absolute;
    top: 0px;
    width: 990px;
}

.home-6PRTFt {
    background-color: transparent;
    letter-spacing: 0;
    line-height: normal;
    margin-top: -1px;
    max-width: 60px;
    mix-blend-mode: normal;
    position: relative;
    text-align: left;
}

.about-6PRTFt {
    background-color: transparent;
    letter-spacing: 0px;
    line-height: normal;
    margin-top: -1px;
    min-width: 60px;
    mix-blend-mode: normal;
    position: relative;
    text-align: left;
}

.contact-6PRTFt {
    background-color: transparent;
    letter-spacing: 0;
    line-height: normal;
    margin-top: -1px;
    max-width: 82px;
    mix-blend-mode: normal;
    position: relative;
    text-align: left;
}


/* HomepageBody */

.homepage_body-H10DTS {
    background-color: transparent;
    height: 1229px;
    left: 64px;
    position: absolute;
    top: 197px;
    width: 1418px;
}


/* Main Content */

.main_content-g8phGk {
    background-color: transparent;
    height: 637px;
    left: 0;
    position: absolute;
    top: 0px;
    width: 1418px;
}


/* Description */

.description-I9nXfR {
    background-color: transparent;
    height: 486px;
    left: 0;
    position: absolute;
    top: 151px;
    width: 619px;
}

.soc_med-KYoKz4 {
    align-items: flex-start;
    background-color: transparent;
    display: flex;
    gap: 30px;
    height: min-content;
    left: 4px;
    position: absolute;
    top: 445px;
    width: min-content;
}

.lnkin-CgtSIg {
    background-color: transparent;
    height: 22px;
    left: 10px;
    mix-blend-mode: normal;
    position: absolute;
    top: 9px;
    width: 22px;
}

.group-6-19MTt3 {
    background-color: transparent;
    height: 41px;
    left: 0px;
    position: relative;
    top: 0px;
    width: 41px;
}

.akar-iconslinkedin-fill-4gBxXG {
    background-color: transparent;
    height: 22px;
    left: 10px;
    mix-blend-mode: normal;
    position: absolute;
    top: 9px;
    width: 22px;
}

.ecllipse-1-4gBxXG {
    background-color: transparent;
    border-radius: 20.5px;
    height: 20.5px;
    left: 41px;
    position: absolute;
    top: 0px;
    width: 41px;
}

.insta-CgtSIg {
    background-color: transparent;
    height: 20.5px;
    position: relative;
    top: 0px;
    width: 41px;
}

.ecllipse-1-Ea7wjc {
    background-color: transparent;
    border-radius: 20.5px;
    height: 41px;
    left: 0px;
    position: absolute;
    top: 0px;
    width: 41px;
}

.akar-iconsinstagram-fill-Ea7wjc {
    background-color: transparent;
    height: 24px;
    left: 9px;
    mix-blend-mode: normal;
    position: absolute;
    top: 9px;
    width: 24px;
}

.twitter-CgtSIg {
    background-color: transparent;
    height: 41px;
    position: relative;
    max-width: 41px;
}

.buttongo-cQzsga {
    background-color: transparent;
    height: 41px;
    left: 0px;
    position: relative;
    top: 0px;
    width: 41px;
}

.ecllipse-1-1UpdIP {
    background-color: transparent;
    border-radius: 20.5px;
    height: 41px;
    left: 0px;
    position: absolute;
    top: 0px;
    width: 41px;
}

.bitwitter-1UpdIP {
    background-color: transparent;
    height: 22px;
    left: 10px;
    mix-blend-mode: normal;
    position: absolute;
    top: 10px;
    width: 22px;
}

.fb-CgtSIg {
    background-color: transparent;
    height: 22px;
    position: absolute;
    min-width: 41px;
}

.ecllipse-Wv18ox {
    background-color: transparent;
    border-radius: 20.5px;
    height: 41px;
    left: 0px;
    position: absolute;
    top: 0px;
    width: 41px;
}

.brandicofacebook-Wv18ox {
    background-color: transparent;
    height: 21px;
    left: 14px;
    mix-blend-mode: normal;
    overflow: hidden;
    position: absolute;
    top: 20px;
    width: 10px;
}

.sign-in-tglB93 {
    align-items: flex-start;
    background-color: var(-- royal-blue);
    border-radius: 113px;
    display: flex;
    gap: 10px;
    height: min-content;
    left: 0px;
    mix-blend-mode: normal;
    padding: 21px 60px;
    position: relative;
    top: 0px;
    width: min-content;
}

.sign-in-xfJQ9r {
    background-color: transparent;
    letter-spacing: 0px;
    line-height: normal;
    margin-top: -1px;
    mix-blend-mode: normal;
    position: relative;
    min-width: 67px;
    text-align: left;
}

.looking-for-thesis-or-dissertation-KYoKz4 {
    background-color: transparent;
    height: auto;
    left: 9px;
    letter-spacing: 0;
    line-height: normal;
    mix-blend-mode: normal;
    text-align: left;
    position: absolute;
    top: 0px;
    width: 608px;
}


/* Images */

.vector-GuWbYI {
    background-color: transparent;
    height: 21px;
    left: 0px;
    mix-blend-mode: normal;
    position: absolute;
    top: 0px;
    width: 10px;
}

.slice-1-GuWbYI {
    background-color: transparent;
    height: 1px;
    left: 4px;
    position: absolute;
    top: 9px;
    width: 1px;
}

.images-I9nXfR {
    background-color: transparent;
    height: 617px;
    left: 0;
    position: absolute;
    top: 0px;
    width: 619px;
}

.group-9-RbWUUq {
    background-color: transparent;
    height: 637px;
    left: 0;
    position: absolute;
    top: 0px;
    width: 619px;
}

.btns-sld-0uixtG {
    align-items: flex-start;
    background-color: transparent;
    cursor: pointer;
    display: flex;
    gap: 17px;
    height: min-content;
    left: 296px;
    position: absolute;
    top: 615px;
    width: min-content;
}

.btn-1-27uI8b {
    background-color: var(--royal-blue);
    border-radius: 11px;
    height: 22px;
    mix-blend-mode: normal;
    position: absolute;
}

.btn-2-27uI8b {
    background-color: #9fa5fc;
    border-radius: 11px;
    height: 22px;
    mix-blend-mode: normal;
    position: relative;
}

.group-0uixtG {
    background-color: transparent;
    height: 572px;
    left: 0;
    position: absolute;
    top: 0px;
    width: 801px;
}


/* Request Content */

.request_account-g8phGk {
    background-color: transparent;
    height: 295px;
    left: 279px;
    top: 934px;
    width: 835px;
}

.request-jBxZgo {
    background-color: transparent;
    height: auto;
    left: 0px;
    letter-spacing: 0px;
    line-height: normal;
    mix-blend-mode: normal;
    position: absolute;
    text-align: left;
    top: 0;
    width: 781px;
}

.input-details-jBxZgo {
    background-color: transparent;
    height: 72px;
    left: 0px;
    position: absolute;
    top: 223px;
    width: 833px;
}

.role_field-r9bhCd {
    background-color: var(-- athens-gray);
    border-radius: 13px;
    box-shadow: inset 0px 2px 2px -1px#4a4a681a;
    cursor: pointer;
    height: 68px;
    left: 342px;
    mix-blend-mode: normal;
    overflow: hidden;
    position: absolute;
    top: 4px;
    width: 277px;
}

.textfield-text-only-tr0zz3 {
    background-color: transparent;
    height: 44px;
    left: 16px;
    mix-blend-mode: normal;
    position: relative;
    top: 12px;
    width: 245px;
}

.label-wQbizg {
    background-color: transparent;
    height: auto;
    left: 0px;
    letter-spacing: 0px;
    line-height: 50.4px;
    mix-blend-mode: normal;
    position: absolute;
    text-align: left;
    top: 0px;
    white-space: nowrap;
    width: auto;
}

.email_field-r9bhCd {
    background-color: var(-- athens-gray);
    border-radius: 8px;
    box-shadow: inset 0px 2px 2px -1px#4a4a681a;
    cursor: pointer;
    height: 68px;
    left: 0px;
    mix-blend-mode: normal;
    overflow: hidden;
    position: absolute;
    top: 2px;
    width: 319px;
}

.textfield-text-only-8PnLbE {
    background-color: transparent;
    border-radius: 44px;
    height: 68px;
    left: 16px;
    mix-blend-mode: normal;
    position: relative;
    top: 12px;
    width: 287px;
}

.label-24Cpkq {
    background-color: transparent;
    height: auto;
    left: 0px;
    letter-spacing: 0px;
    line-height: 50.4px;
    mix-blend-mode: normal;
    position: absolute;
    text-align: left;
    top: 0px;
    white-space: nowrap;
    width: auto;
}

.group-r9bhCd {
    background-color: transparent;
    height: 72px;
    left: 642px;
    position: absolute;
    top: 0px;
    width: 191px;
}

.submit_btn-8WJN6e {
    align-items: flex-start;
    background-color: var(-- royal-blue);
    border-radius: 113px;
    display: flex;
    gap: 10px;
    height: min-content;
    left: 0px;
    mix-blend-mode: normal;
    padding: 21px 60px;
    position: relative;
    top: 0px;
    width: min-content;
}

.submit-fWCgb7 {
    background-color: transparent;
    letter-spacing: 0px;
    line-height: normal;
    margin-top: -1px;
    min-width: 71px;
    mix-blend-mode: normal;
    position: relative;
    text-align: left;
}