<mat-toolbar>
    <span class="header">
        <img src="../../assets/group1.png" alt="logo" class="logo">
        <mat-card-title>EUL Thesis</mat-card-title>
    </span>
    <span class="auth_hidden nav-list" *ngif="isLoggedIn$ | async">        
        <a routerLink="/home" routerLinkActive="active">Home</a>
        <a routerLink="/about" routerLinkActive="active">About</a>
        <a routerLink="/contact" routerLinkActive="active">Contact</a>
    </span>
    <div class="dropdown nav-list">
        <button class="dropbtn">Account
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
            <a routerLink="/login" routerLinkActive="active" (click)="nav('login')">Login</a>
            <a routerLink="/register" routerLinkActive="active" (click)="nav('signup')">Register</a>
        </div>
    </div>
</mat-toolbar>