<div class="mat-elevation-z8" *ngIf="length > 0">
    <!-- input for search with filter -->
    <div class="search">
        <mat-form-field class="example-full-width">
            <input matInput [ngModel]='search' id="search" (ngModelChange)='onChanges($event)' class="search" placeholder="Search" />
            <button mat-icon-button matSuffix>
                <mat-icon>search</mat-icon>
            </button>
        </mat-form-field>
        <button mat-icon-button (click)="add()" class="en">
            <mat-icon>add</mat-icon>
            Add Chairman
        </button>
    </div>
    <table mat-table [dataSource]="dataSource" matSort (matSortChange)="announceSortChange($event)" class="mat-elevation-z8">
        <!-- 'SchoolID', 'FirstName', 'LastName', 'Email', 'Role', 'Department', 'Approve' -->
        <ng-container matColumnDef="SchoolID">
            <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by SchoolID"> School ID </th>
            <td mat-cell *matCellDef="let element"> {{element.SchoolID}} </td>
        </ng-container>
        <ng-container matColumnDef="FirstName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by FirstName"> First Name </th>
            <td mat-cell *matCellDef="let element"> {{element.FirstName}} </td>
        </ng-container>
        <ng-container matColumnDef="LastName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by LastName"> Last Name </th>
            <td mat-cell *matCellDef="let element"> {{element.LastName}} </td>
        </ng-container>
        <ng-container matColumnDef="Email">
            <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by Email"> Email </th>
            <td mat-cell *matCellDef="let element"> {{element.Email}} </td>
        </ng-container>
        <ng-container matColumnDef="Department">
            <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by Department"> Department </th>
            <td mat-cell *matCellDef="let element"> {{element.Department}} </td>
        </ng-container>
        <ng-container matColumnDef="Approve">
            <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by Approve"> Approve </th>
            <td mat-cell *matCellDef="let element">
                <mat-icon *ngIf="element.Approve == 1">check_circle</mat-icon>
                <mat-icon *ngIf="element.Approve == 0">cancel</mat-icon>
                <button mat-button (click)="approve(element)">
                </button>
            </td>
        </ng-container>
        <ng-container matColumnDef="Edit">
            <th mat-header-cell *matHeaderCellDef> Edit </th>
            <td mat-cell *matCellDef="let element">
                <mat-icon (click)="edit(element)">edit</mat-icon>
            </td>
        </ng-container>
        <ng-container matColumnDef="Delete">
            <th mat-header-cell *matHeaderCellDef> Delete </th>
            <td mat-cell *matCellDef="let element">
                <mat-icon (click)="delete(element)">delete</mat-icon>
            </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        <tr class="mat-row no-data-row" *matNoDataRow>
            <td class="mat-cell">No data matching the filter "{{search}}"</td>
        </tr>
    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" [length]="length" showFirstLastButtons aria-label="Select page of periodic elements">
    </mat-paginator>
</div>
<!-- if equal to zero -->
<div class="not" *ngIf="length == 0">
    <h1>There are no users</h1>
    <app-not-found></app-not-found>
</div>