table {
    width: 100%;
}


/* if  */

@media screen and (max-width: 768px) {
    .en {
        margin-left: 50%;
        display: flex;
        justify-content: flex-end;
    }
    .ens {
        margin-right: 130px;
    }
    .table {
        overflow-y: scroll;
        height: 100%;
        display: block;
    }
}

th.mat-sort-header-sorted {
    color: black;
}


/* ::ng-deep .mat-form-field-underline {
    display: none;
} */

::ng-deep .mat-form-field-infix {
    width: 100% !important;
}

.search {
    margin-left: 20px;
    margin-right: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column-reverse;
}

.content-research {
    margin: 20px;
    border: 2px solid gray;
}

.mat-card-content {
    overflow: scroll;
    display: flex;
    flex-direction: column;
}

.filter-list {
    display: flex;
    flex-direction: column;
    border: 1px solid gray;
}

.content-research {
    border: 2px solid gray;
}

.en {
    margin-left: 50%;
    display: flex;
    justify-content: flex-end;
}

.ens {
    margin-right: 130px;
}

.df {
    overflow-y: scroll;
    height: 100%;
    display: block;
}